In [1]:
x = lambda x: x+3

In [2]:
x(3)

6

In [5]:
import numpy as np

In [6]:
l = [22,323,434,2,3]

In [22]:
res = map(lambda x: x + 3 if x < 8 else 32, l)

In [23]:
list(res)

[32, 32, 32, 5, 6]

In [25]:
import pandas as pd
import numpy as np

In [29]:
two = np.random.randint(10, size=(3,4) )

In [32]:
df = pd.DataFrame(two)

In [33]:
df

   0  1  2  3
0  3  9  7  8
1  4  3  7  4
2  0  5  5  5

In [41]:
df.iloc[0,1] = 'Hello'

In [42]:
df

   0      1  2  3
0  3  Hello  7  8
1  4      3  7  4
2  0      5  5  5

pandas.core.frame.DataFrame