# Exercise with 100 Panda questions

In [2]:
#init librarys
import pandas as pd
import numpy as np

#### 2. How to create a series from a list, numpy array and dict?

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
print(len(mylist))
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

26

In [10]:
# list
pd.Series(mylist)
pd.Series(myarr)
pd.Series(mydict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [11]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [27]:
#ser.to_frame()
ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [62]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
#ser2 = pd.Series(np.arange(26))
ser2 = pd.Series(np.random.randint(12,size=26))

In [65]:
pd.DataFrame({'row_1': ser1, 'row_2' : ser2})

   row_1  row_2
0      a     11
1      b      0
2      c      6
3      e      4
4      d      4
5      f      1
6      g      5
7      h      8
8      i      3
9      j      4
10     k      1
11     l      6
12     m      5
13     n      5
14     o      0
15     p     10
16     q      4
17     r      7
18     s      9
19     t      4
20     u      3
21     v      8
22     w     10
23     x      9
24     y      7
25     z     10

5.  How to assign name to the series’ index?
    Difficulty Level: L1

    Give a name to the series ser calling it ‘alphabets’.

In [79]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'Alphabets'

In [80]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: Alphabets, dtype: object

6. How to get the items of series A not present in series B?
    Difficulty Level: L2

    From ser1 remove items present in ser2.

In [94]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [99]:
print(ser2)
print(ser1.isin(ser2))
ser1[~ser1.isin(ser2)] # maybe important

0    4
1    5
2    6
3    7
4    8
dtype: int64
0    False
1    False
2    False
3     True
4     True
dtype: bool

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?
    Difficulty Level: L2

    Get all items of ser1 and ser2 not common to both.

In [128]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [137]:
s_union = pd.Series(np.union1d(ser1, ser2))
print('union\n',s_union)
s_inters = pd.Series(np.intersect1d(ser1, ser2))
print('intersect\n',s_inters)
#s_res = [~s_union.isin(s_inters)] not working, just create table with boolean
s_union[~s_union.isin(s_inters)]

union
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
intersect
 0    4
1    5
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
    Difficuty Level: L2

    Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [152]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [156]:
print(ser)
print('min',min(ser))
print('max',max(ser))
print('median', np.median(ser))
print('25th percentile', np.percentile(ser, 25))
print('75th percentile', np.percentile(ser, 75))

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64
min 1.2511726347265135
max 18.0949083033763
median 10.922593452819715
25th percentile 7.7098650724868785
75th percentile 13.363604028548306

In [159]:
# yes,thats a way smarter solution
np.percentile(ser, q=[0,25,50,75,100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?
    Difficulty Level: L1

    Calculte the frequency counts of each unique value ser.

In [160]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [174]:
res = ser.value_counts()
print(res)

d    7
a    6
b    5
g    4
e    4
c    2
f    2
dtype: int64

In [175]:
dict(res)

{'d': 7, 'a': 6, 'b': 5, 'g': 4, 'e': 4, 'c': 2, 'f': 2}

10. How to keep only top 2 most frequent values as it is   and replace everything else as ‘Other’?

    From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [230]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

0     4
1     2
2     3
3     4
4     4
5     3
6     4
7     1
8     1
9     3
10    3
11    3
dtype: int64

In [231]:
res = pd.DataFrame(ser.value_counts().index[:2])
print(res)

   0
0  3
1  4

In [232]:
#ser[~ser.isin(res)] = 'other' # dont work

ser[~ser.isin(ser.value_counts().index[:2])] = 'other'
print(ser)

0         4
1     other
2         3
3         4
4         4
5         3
6         4
7     other
8     other
9         3
10        3
11        3
dtype: object

11. How to bin a numeric series to 10 groups of equal size?
    Difficulty Level: L2

    Bin the series ser into 10 equal deciles and replace the values with the bin name

In [270]:
ser = pd.Series(np.random.random(20))

In [271]:
ser

0     0.284446
1     0.400416
2     0.946438
3     0.279524
4     0.563052
5     0.734868
6     0.693826
7     0.047699
8     0.584063
9     0.196728
10    0.601622
11    0.338972
12    0.796211
13    0.726628
14    0.200201
15    0.678167
16    0.303286
17    0.616630
18    0.352536
19    0.430748
dtype: float64

In [272]:
categ = ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']
q = [0,.1,.2,.3,.4,.5,.6,.7,.8,.9,1]
#pd.Categorical(res,categories=categ)
pd.qcut(ser, q,categ)

0      3rd
1      5th
2     10th
3      2nd
4      6th
5      9th
6      8th
7      1st
8      6th
9      1st
10     7th
11     4th
12    10th
13     9th
14     2nd
15     8th
16     3rd
17     7th
18     4th
19     5th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. reHow to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [282]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [283]:
#ser = pd.DataFrame(ser.to_numpy().reshape(7,5))
ser = pd.DataFrame(ser.values.reshape(7,5))
ser

   0  1  2  3  4
0  8  4  8  9  5
1  3  5  1  7  9
2  2  2  5  9  6
3  1  6  5  6  2
4  4  8  6  5  6
5  5  3  9  6  3
6  6  8  7  1  6

13. How to find the positions of numbers that are multiples of 3 from a series?
Difficulty Level: L2

In [265]:
ser = pd.Series(np.random.randint(1, 10, 7))

np.argwhere(ser.to_numpy() % 3==0)

array([[3],
       [4]])

14. How to extract items at given positions from a series
Difficulty Level: L1

From ser, extract the items at positions in list p

In [284]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [285]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [287]:
res = ser.take(pos)
print(res)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [297]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [299]:
#pd.DataFrame(columns=ser1, index=ser2)
ser1.append(ser2)
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

In [301]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [310]:
#ser1.index(ser1.isin(ser2))
ser1
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2

Compute the mean squared error of truth and pred series.

In [321]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [322]:
np.mean((truth-pred)**2)

0.25308893411997435

18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2

Change the first character of each word to upper case in each word of

In [323]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [334]:
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [335]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [336]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?
Difficulty Level: L1

Difference of differences between the consequtive numbers of ser.

In [345]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?
Difficiulty Level: L2

In [347]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [351]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [359]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse

In [360]:
time_s = ser.map(lambda x: parse(x))

In [371]:
print('date',time_s.dt.day.to_list())
print('week',time_s.dt.weekofyear.to_list())
print('day_year',time_s.dt.day_of_year.to_list())
print('day_week',time_s.dt.isocalendar().week.to_list())

date [1, 2, 3, 4, 5, 6]
week [53, 5, 9, 14, 19, 23]
day_year [1, 33, 63, 94, 125, 157]
day_week [53, 5, 9, 14, 19, 23]

/var/folders/58/83__n5jj77s0p9pv81ccxck40000gn/T/ipykernel_12821/427045922.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print('week',time_s.dt.weekofyear.to_list())