# Exercise with 100 Panda questions

In [2]:
#init librarys
import pandas as pd
import numpy as np

#### 2. How to create a series from a list, numpy array and dict?

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
print(len(mylist))
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

26

In [10]:
# list
pd.Series(mylist)
pd.Series(myarr)
pd.Series(mydict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [11]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [27]:
#ser.to_frame()
ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [62]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
#ser2 = pd.Series(np.arange(26))
ser2 = pd.Series(np.random.randint(12,size=26))

In [65]:
pd.DataFrame({'row_1': ser1, 'row_2' : ser2})

   row_1  row_2
0      a     11
1      b      0
2      c      6
3      e      4
4      d      4
5      f      1
6      g      5
7      h      8
8      i      3
9      j      4
10     k      1
11     l      6
12     m      5
13     n      5
14     o      0
15     p     10
16     q      4
17     r      7
18     s      9
19     t      4
20     u      3
21     v      8
22     w     10
23     x      9
24     y      7
25     z     10

5.  How to assign name to the series’ index?
    Difficulty Level: L1

    Give a name to the series ser calling it ‘alphabets’.

In [79]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'Alphabets'

In [80]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: Alphabets, dtype: object

6. How to get the items of series A not present in series B?
    Difficulty Level: L2

    From ser1 remove items present in ser2.

In [94]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [99]:
print(ser2)
print(ser1.isin(ser2))
ser1[~ser1.isin(ser2)] # maybe important

0    4
1    5
2    6
3    7
4    8
dtype: int64
0    False
1    False
2    False
3     True
4     True
dtype: bool

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?
    Difficulty Level: L2

    Get all items of ser1 and ser2 not common to both.

In [128]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [137]:
s_union = pd.Series(np.union1d(ser1, ser2))
print('union\n',s_union)
s_inters = pd.Series(np.intersect1d(ser1, ser2))
print('intersect\n',s_inters)
#s_res = [~s_union.isin(s_inters)] not working, just create table with boolean
s_union[~s_union.isin(s_inters)]

union
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
intersect
 0    4
1    5
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
    Difficuty Level: L2

    Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [152]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [156]:
print(ser)
print('min',min(ser))
print('max',max(ser))
print('median', np.median(ser))
print('25th percentile', np.percentile(ser, 25))
print('75th percentile', np.percentile(ser, 75))

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64
min 1.2511726347265135
max 18.0949083033763
median 10.922593452819715
25th percentile 7.7098650724868785
75th percentile 13.363604028548306

In [159]:
# yes,thats a way smarter solution
np.percentile(ser, q=[0,25,50,75,100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?
    Difficulty Level: L1

    Calculte the frequency counts of each unique value ser.

In [160]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [174]:
res = ser.value_counts()
print(res)

d    7
a    6
b    5
g    4
e    4
c    2
f    2
dtype: int64

In [175]:
dict(res)

{'d': 7, 'a': 6, 'b': 5, 'g': 4, 'e': 4, 'c': 2, 'f': 2}

10. How to keep only top 2 most frequent values as it is   and replace everything else as ‘Other’?

    From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [230]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

0     4
1     2
2     3
3     4
4     4
5     3
6     4
7     1
8     1
9     3
10    3
11    3
dtype: int64

In [231]:
res = pd.DataFrame(ser.value_counts().index[:2])
print(res)

   0
0  3
1  4

In [232]:
#ser[~ser.isin(res)] = 'other' # dont work

ser[~ser.isin(ser.value_counts().index[:2])] = 'other'
print(ser)

0         4
1     other
2         3
3         4
4         4
5         3
6         4
7     other
8     other
9         3
10        3
11        3
dtype: object

11. How to bin a numeric series to 10 groups of equal size?
    Difficulty Level: L2

    Bin the series ser into 10 equal deciles and replace the values with the bin name

In [270]:
ser = pd.Series(np.random.random(20))

In [271]:
ser

0     0.284446
1     0.400416
2     0.946438
3     0.279524
4     0.563052
5     0.734868
6     0.693826
7     0.047699
8     0.584063
9     0.196728
10    0.601622
11    0.338972
12    0.796211
13    0.726628
14    0.200201
15    0.678167
16    0.303286
17    0.616630
18    0.352536
19    0.430748
dtype: float64

In [272]:
categ = ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']
q = [0,.1,.2,.3,.4,.5,.6,.7,.8,.9,1]
#pd.Categorical(res,categories=categ)
pd.qcut(ser, q,categ)

0      3rd
1      5th
2     10th
3      2nd
4      6th
5      9th
6      8th
7      1st
8      6th
9      1st
10     7th
11     4th
12    10th
13     9th
14     2nd
15     8th
16     3rd
17     7th
18     4th
19     5th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. reHow to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [282]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [283]:
#ser = pd.DataFrame(ser.to_numpy().reshape(7,5))
ser = pd.DataFrame(ser.values.reshape(7,5))
ser

   0  1  2  3  4
0  8  4  8  9  5
1  3  5  1  7  9
2  2  2  5  9  6
3  1  6  5  6  2
4  4  8  6  5  6
5  5  3  9  6  3
6  6  8  7  1  6

13. How to find the positions of numbers that are multiples of 3 from a series?
Difficulty Level: L2

In [265]:
ser = pd.Series(np.random.randint(1, 10, 7))

np.argwhere(ser.to_numpy() % 3==0)

array([[3],
       [4]])

14. How to extract items at given positions from a series
Difficulty Level: L1

From ser, extract the items at positions in list p

In [284]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [285]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [287]:
res = ser.take(pos)
print(res)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [297]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [299]:
#pd.DataFrame(columns=ser1, index=ser2)
ser1.append(ser2)
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

In [301]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [310]:
#ser1.index(ser1.isin(ser2))
ser1
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2

Compute the mean squared error of truth and pred series.

In [321]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [322]:
np.mean((truth-pred)**2)

0.25308893411997435

18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2

Change the first character of each word to upper case in each word of

In [323]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [334]:
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [335]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [336]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?
Difficulty Level: L1

Difference of differences between the consequtive numbers of ser.

In [345]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?
Difficiulty Level: L2

In [347]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [351]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [359]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse

In [360]:
time_s = ser.map(lambda x: parse(x))

In [371]:
print('date',time_s.dt.day.to_list())
print('week',time_s.dt.weekofyear.to_list())
print('day_year',time_s.dt.day_of_year.to_list())
print('day_week',time_s.dt.isocalendar().week.to_list())

date [1, 2, 3, 4, 5, 6]
week [53, 5, 9, 14, 19, 23]
day_year [1, 33, 63, 94, 125, 157]
day_week [53, 5, 9, 14, 19, 23]

/var/folders/58/83__n5jj77s0p9pv81ccxck40000gn/T/ipykernel_12821/427045922.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print('week',time_s.dt.weekofyear.to_list())

32. How to compute the autocorrelations of a numeric series?
Difficiulty Level: L3

Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [391]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [392]:
res = [ser.autocorr(i).round(2) for i in range(11)]

In [393]:
print(ser[1:].tolist())
print(res[1:])
print('highest', max(res[1:]))
print('highest', np.argmax(np.abs(res[1:]))+1)

[18.361767881972074, 7.503614361168985, 38.34752483670827, 21.138319905697735, 22.29023379679102, -1.1139042521147324, 16.724445694657557, -1.2137468158557638, 14.249190059131228, 23.378543190811456, 26.140421812270517, 8.18367282080738, 30.293226647203692, 17.742986747716966, 19.20487738379419, 16.72290317534057, 35.4828455142607, 18.80353361410644, 11.62776530556173]
[-0.13, 0.21, -0.5, 0.15, -0.59, 0.47, 0.05, 0.37, -0.42, 0.37]
highest 0.47
highest 5

33. How to import only every nth row from a csv file to create a dataframe?
Difficiulty Level: L2

Import every 50th row of BostonHousing dataset as a dataframe.

In [402]:
data = pd.read_csv('boston.csv', chunksize=50)
df = pd.DataFrame()

for chunk in data:
    print(chunk)
    df = df.append(chunk.iloc[0,:])

       crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
0   0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296
1   0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2  242
2   0.02729   0.0   7.07     0  0.469  7.185   61.1  4.9671    2  242
3   0.03237   0.0   2.18     0  0.458  6.998   45.8  6.0622    3  222
4   0.06905   0.0   2.18     0  0.458  7.147   54.2  6.0622    3  222
5   0.02985   0.0   2.18     0  0.458  6.430   58.7  6.0622    3  222
6   0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5  311
7   0.14455  12.5   7.87     0  0.524  6.172   96.1  5.9505    5  311
8   0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311
9   0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5  311
10  0.22489  12.5   7.87     0  0.524  6.377   94.3  6.3467    5  311
11  0.11747  12.5   7.87     0  0.524  6.009   82.9  6.2267    5  311
12  0.09378  12.5   7.87     0  0.524  5.889   39.0  5.4509    5  311
13  0.62976   0.0   8.14     0  0.538  5.949   61.8  4.7075    4  307
14  0.63796   0.0   8.14     0  0.538  6.096   84.5  4.4619    4  307
15  0.62739   0.0   8.14     0  0.538  5.834   56.5  4.4986    4  307
16  1.05393   0.0   8.14     0  0.538  5.935   29.3  4.4986    4  307
17  0.78420   0.0   8.14     0  0.538  5.990   81.7  4.2579    4  307
18  0.80271   0.0   8.14     0  0.538  5.456   36.6  3.7965    4  307
19  0.72580   0.0   8.14     0  0.538  5.727   69.5  3.7965    4  307
20  1.25179   0.0   8.14     0  0.538  5.570   98.1  3.7979    4  307
21  0.85204   0.0   8.14     0  0.538  5.965   89.2  4.0123    4  307
22  1.23247   0.0   8.14     0  0.538  6.142   91.7  3.9769    4  307
23  0.98843   0.0   8.14     0  0.538  5.813  100.0  4.0952    4  307
24  0.75026   0.0   8.14     0  0.538  5.924   94.1  4.3996    4  307
25  0.84054   0.0   8.14     0  0.538  5.599   85.7  4.4546    4  307
26  0.67191   0.0   8.14     0  0.538  5.813   90.3  4.6820    4  307
27  0.95577   0.0   8.14     0  0.538  6.047   88.8  4.4534    4  307
28  0.77299   0.0   8.14     0  0.538  6.495   94.4  4.4547    4  307
29  1.00245   0.0   8.14     0  0.538  6.674   87.3  4.2390    4  307
30  1.13081   0.0   8.14     0  0.538  5.713   94.1  4.2330    4  307
31  1.35472   0.0   8.14     0  0.538  6.072  100.0  4.1750    4  307
32  1.38799   0.0   8.14     0  0.538  5.950   82.0  3.9900    4  307
33  1.15172   0.0   8.14     0  0.538  5.701   95.0  3.7872    4  307
34  1.61282   0.0   8.14     0  0.538  6.096   96.9  3.7598    4  307
35  0.06417   0.0   5.96     0  0.499  5.933   68.2  3.3603    5  279
36  0.09744   0.0   5.96     0  0.499  5.841   61.4  3.3779    5  279
37  0.08014   0.0   5.96     0  0.499  5.850   41.5  3.9342    5  279
38  0.17505   0.0   5.96     0  0.499  5.966   30.2  3.8473    5  279
39  0.02763  75.0   2.95     0  0.428  6.595   21.8  5.4011    3  252
40  0.03359  75.0   2.95     0  0.428  7.024   15.8  5.4011    3  252
41  0.12744   0.0   6.91     0  0.448  6.770    2.9  5.7209    3  233
42  0.14150   0.0   6.91     0  0.448  6.169    6.6  5.7209    3  233
43  0.15936   0.0   6.91     0  0.448  6.211    6.5  5.7209    3  233
44  0.12269   0.0   6.91     0  0.448  6.069   40.0  5.7209    3  233
45  0.17142   0.0   6.91     0  0.448  5.682   33.8  5.1004    3  233
46  0.18836   0.0   6.91     0  0.448  5.786   33.3  5.1004    3  233
47  0.22927   0.0   6.91     0  0.448  6.030   85.5  5.6894    3  233
48  0.25387   0.0   6.91     0  0.448  5.399   95.3  5.8700    3  233
49  0.21977   0.0   6.91     0  0.448  5.602   62.0  6.0877    3  233

    ptratio       b  lstat  medv
0      15.3  396.90   4.98  24.0
1      17.8  396.90   9.14  21.6
2      17.8  392.83   4.03  34.7
3      18.7  394.63   2.94  33.4
4      18.7  396.90   5.33  36.2
5      18.7  394.12   5.21  28.7
6      15.2  395.60  12.43  22.9
7      15.2  396.90  19.15  27.1
8      15.2  386.63  29.93  16.5
9      15.2  386.71  17.10  18.9
10     15.2  392.52  20.45  15.0
11     15.2  396.90  13.27  18.9
12     15.2  390.50  15.71  21.7
13     21.0  396.90   8.26  20.4
14     21.0  380.02  10.26  18.2
15     21.0  395.62   8.47  19.9
16     21.0  386.85   6.58  23.1
17     21.0  386.75  14.67  17.5
18     21.0  288.99  11.69  20.2
19     21.0  390.95  11.28  18.2
20     21.0  376.57  21.02  13.6
21     21.0  392.53  13.83  19.6
22     21.0  396.90  18.72  15.2
23     21.0  394.54  19.88  14.5
24     21.0  394.33  16.30  15.6
25     21.0  303.42  16.51  13.9
26     21.0  376.88  14.81  16.6
27     21.0  306.38  17.28  14.8
28     21.0  387.94  12.80  18.4
29     21.0  380.23  11.98  21.0
30     21.0  360.17  22.60  12.7
31     21.0  376.73  13.04  14.5
32     21.0  232.60  27.71  13.2
33     21.0  358.77  18.35  13.1
34     21.0  248.31  20.34  13.5
35     19.2  396.90   9.68  18.9
36     19.2  377.56  11.41  20.0
37     19.2  396.90   8.77  21.0
38     19.2  393.43  10.13  24.7
39     18.3  395.63   4.32  30.8
40     18.3  395.62   1.98  34.9
41     17.9  385.41   4.84  26.6
42     17.9  383.37   5.81  25.3
43     17.9  394.46   7.44  24.7
44     17.9  389.39   9.55  21.2
45     17.9  396.90  10.21  19.3
46     17.9  396.90  14.15  20.0
47     17.9  392.74  18.80  16.6
48     17.9  396.90  30.81  14.4
49     17.9  396.90  16.20  19.4
       crim     zn  indus  chas     nox     rm   age     dis  rad  tax  \
50  0.08873   21.0   5.64     0  0.4390  5.963  45.7  6.8147    4  243
51  0.04337   21.0   5.64     0  0.4390  6.115  63.0  6.8147    4  243
52  0.05360   21.0   5.64     0  0.4390  6.511  21.1  6.8147    4  243
53  0.04981   21.0   5.64     0  0.4390  5.998  21.4  6.8147    4  243
54  0.01360   75.0   4.00     0  0.4100  5.888  47.6  7.3197    3  469
55  0.01311   90.0   1.22     0  0.4030  7.249  21.9  8.6966    5  226
56  0.02055   85.0   0.74     0  0.4100  6.383  35.7  9.1876    2  313
57  0.01432  100.0   1.32     0  0.4110  6.816  40.5  8.3248    5  256
58  0.15445   25.0   5.13     0  0.4530  6.145  29.2  7.8148    8  284
59  0.10328   25.0   5.13     0  0.4530  5.927  47.2  6.9320    8  284
60  0.14932   25.0   5.13     0  0.4530  5.741  66.2  7.2254    8  284
61  0.17171   25.0   5.13     0  0.4530  5.966  93.4  6.8185    8  284
62  0.11027   25.0   5.13     0  0.4530  6.456  67.8  7.2255    8  284
63  0.12650   25.0   5.13     0  0.4530  6.762  43.4  7.9809    8  284
64  0.01951   17.5   1.38     0  0.4161  7.104  59.5  9.2229    3  216
65  0.03584   80.0   3.37     0  0.3980  6.290  17.8  6.6115    4  337
66  0.04379   80.0   3.37     0  0.3980  5.787  31.1  6.6115    4  337
67  0.05789   12.5   6.07     0  0.4090  5.878  21.4  6.4980    4  345
68  0.13554   12.5   6.07     0  0.4090  5.594  36.8  6.4980    4  345
69  0.12816   12.5   6.07     0  0.4090  5.885  33.0  6.4980    4  345
70  0.08826    0.0  10.81     0  0.4130  6.417   6.6  5.2873    4  305
71  0.15876    0.0  10.81     0  0.4130  5.961  17.5  5.2873    4  305
72  0.09164    0.0  10.81     0  0.4130  6.065   7.8  5.2873    4  305
73  0.19539    0.0  10.81     0  0.4130  6.245   6.2  5.2873    4  305
74  0.07896    0.0  12.83     0  0.4370  6.273   6.0  4.2515    5  398
75  0.09512    0.0  12.83     0  0.4370  6.286  45.0  4.5026    5  398
76  0.10153    0.0  12.83     0  0.4370  6.279  74.5  4.0522    5  398
77  0.08707    0.0  12.83     0  0.4370  6.140  45.8  4.0905    5  398
78  0.05646    0.0  12.83     0  0.4370  6.232  53.7  5.0141    5  398
79  0.08387    0.0  12.83     0  0.4370  5.874  36.6  4.5026    5  398
80  0.04113   25.0   4.86     0  0.4260  6.727  33.5  5.4007    4  281
81  0.04462   25.0   4.86     0  0.4260  6.619  70.4  5.4007    4  281
82  0.03659   25.0   4.86     0  0.4260  6.302  32.2  5.4007    4  281
83  0.03551   25.0   4.86     0  0.4260  6.167  46.7  5.4007    4  281
84  0.05059    0.0   4.49     0  0.4490  6.389  48.0  4.7794    3  247
85  0.05735    0.0   4.49     0  0.4490  6.630  56.1  4.4377    3  247
86  0.05188    0.0   4.49     0  0.4490  6.015  45.1  4.4272    3  247
87  0.07151    0.0   4.49     0  0.4490  6.121  56.8  3.7476    3  247
88  0.05660    0.0   3.41     0  0.4890  7.007  86.3  3.4217    2  270
89  0.05302    0.0   3.41     0  0.4890  7.079  63.1  3.4145    2  270
90  0.04684    0.0   3.41     0  0.4890  6.417  66.1  3.0923    2  270
91  0.03932    0.0   3.41     0  0.4890  6.405  73.9  3.0921    2  270
92  0.04203   28.0  15.04     0  0.4640  6.442  53.6  3.6659    4  270
93  0.02875   28.0  15.04     0  0.4640  6.211  28.9  3.6659    4  270
94  0.04294   28.0  15.04     0  0.4640  6.249  77.3  3.6150    4  270
95  0.12204    0.0   2.89     0  0.4450  6.625  57.8  3.4952    2  276
96  0.11504    0.0   2.89     0  0.4450  6.163  69.6  3.4952    2  276
97  0.12083    0.0   2.89     0  0.4450  8.069  76.0  3.4952    2  276
98  0.08187    0.0   2.89     0  0.4450  7.820  36.9  3.4952    2  276
99  0.06860    0.0   2.89     0  0.4450  7.416  62.5  3.4952    2  276

    ptratio       b  lstat  medv
50     16.8  395.56  13.45  19.7
51     16.8  393.97   9.43  20.5
52     16.8  396.90   5.28  25.0
53     16.8  396.90   8.43  23.4
54     21.1  396.90  14.80  18.9
55     17.9  395.93   4.81  35.4
56     17.3  396.90   5.77  24.7
57     15.1  392.90   3.95  31.6
58     19.7  390.68   6.86  23.3
59     19.7  396.90   9.22  19.6
60     19.7  395.11  13.15  18.7
61     19.7  378.08  14.44  16.0
62     19.7  396.90   6.73  22.2
63     19.7  395.58   9.50  25.0
64     18.6  393.24   8.05  33.0
65     16.1  396.90   4.67  23.5
66     16.1  396.90  10.24  19.4
67     18.9  396.21   8.10  22.0
68     18.9  396.90  13.09  17.4
69     18.9  396.90   8.79  20.9
70     19.2  383.73   6.72  24.2
71     19.2  376.94   9.88  21.7
72     19.2  390.91   5.52  22.8
73     19.2  377.17   7.54  23.4
74     18.7  394.92   6.78  24.1
75     18.7  383.23   8.94  21.4
76     18.7  373.66  11.97  20.0
77     18.7  386.96  10.27  20.8
78     18.7  386.40  12.34  21.2
79     18.7  396.06   9.10  20.3
80     19.0  396.90   5.29  28.0
81     19.0  395.63   7.22  23.9
82     19.0  396.90   6.72  24.8
83     19.0  390.64   7.51  22.9
84     18.5  396.90   9.62  23.9
85     18.5  392.30   6.53  26.6
86     18.5  395.99  12.86  22.5
87     18.5  395.15   8.44  22.2
88     17.8  396.90   5.50  23.6
89     17.8  396.06   5.70  28.7
90     17.8  392.18   8.81  22.6
91     17.8  393.55   8.20  22.0
92     18.2  395.01   8.16  22.9
93     18.2  396.33   6.21  25.0
94     18.2  396.90  10.59  20.6
95     18.0  357.98   6.65  28.4
96     18.0  391.83  11.34  21.4
97     18.0  396.90   4.21  38.7
98     18.0  393.53   3.57  43.8
99     18.0  396.90   6.19  33.2
        crim  zn  indus  chas    nox     rm    age     dis  rad  tax  ptratio  \
100  0.14866   0   8.56     0  0.520  6.727   79.9  2.7778    5  384     20.9
101  0.11432   0   8.56     0  0.520  6.781   71.3  2.8561    5  384     20.9
102  0.22876   0   8.56     0  0.520  6.405   85.4  2.7147    5  384     20.9
103  0.21161   0   8.56     0  0.520  6.137   87.4  2.7147    5  384     20.9
104  0.13960   0   8.56     0  0.520  6.167   90.0  2.4210    5  384     20.9
105  0.13262   0   8.56     0  0.520  5.851   96.7  2.1069    5  384     20.9
106  0.17120   0   8.56     0  0.520  5.836   91.9  2.2110    5  384     20.9
107  0.13117   0   8.56     0  0.520  6.127   85.2  2.1224    5  384     20.9
108  0.12802   0   8.56     0  0.520  6.474   97.1  2.4329    5  384     20.9
109  0.26363   0   8.56     0  0.520  6.229   91.2  2.5451    5  384     20.9
110  0.10793   0   8.56     0  0.520  6.195   54.4  2.7778    5  384     20.9
111  0.10084   0  10.01     0  0.547  6.715   81.6  2.6775    6  432     17.8
112  0.12329   0  10.01     0  0.547  5.913   92.9  2.3534    6  432     17.8
113  0.22212   0  10.01     0  0.547  6.092   95.4  2.5480    6  432     17.8
114  0.14231   0  10.01     0  0.547  6.254   84.2  2.2565    6  432     17.8
115  0.17134   0  10.01     0  0.547  5.928   88.2  2.4631    6  432     17.8
116  0.13158   0  10.01     0  0.547  6.176   72.5  2.7301    6  432     17.8
117  0.15098   0  10.01     0  0.547  6.021   82.6  2.7474    6  432     17.8
118  0.13058   0  10.01     0  0.547  5.872   73.1  2.4775    6  432     17.8
119  0.14476   0  10.01     0  0.547  5.731   65.2  2.7592    6  432     17.8
120  0.06899   0  25.65     0  0.581  5.870   69.7  2.2577    2  188     19.1
121  0.07165   0  25.65     0  0.581  6.004   84.1  2.1974    2  188     19.1
122  0.09299   0  25.65     0  0.581  5.961   92.9  2.0869    2  188     19.1
123  0.15038   0  25.65     0  0.581  5.856   97.0  1.9444    2  188     19.1
124  0.09849   0  25.65     0  0.581  5.879   95.8  2.0063    2  188     19.1
125  0.16902   0  25.65     0  0.581  5.986   88.4  1.9929    2  188     19.1
126  0.38735   0  25.65     0  0.581  5.613   95.6  1.7572    2  188     19.1
127  0.25915   0  21.89     0  0.624  5.693   96.0  1.7883    4  437     21.2
128  0.32543   0  21.89     0  0.624  6.431   98.8  1.8125    4  437     21.2
129  0.88125   0  21.89     0  0.624  5.637   94.7  1.9799    4  437     21.2
130  0.34006   0  21.89     0  0.624  6.458   98.9  2.1185    4  437     21.2
131  1.19294   0  21.89     0  0.624  6.326   97.7  2.2710    4  437     21.2
132  0.59005   0  21.89     0  0.624  6.372   97.9  2.3274    4  437     21.2
133  0.32982   0  21.89     0  0.624  5.822   95.4  2.4699    4  437     21.2
134  0.97617   0  21.89     0  0.624  5.757   98.4  2.3460    4  437     21.2
135  0.55778   0  21.89     0  0.624  6.335   98.2  2.1107    4  437     21.2
136  0.32264   0  21.89     0  0.624  5.942   93.5  1.9669    4  437     21.2
137  0.35233   0  21.89     0  0.624  6.454   98.4  1.8498    4  437     21.2
138  0.24980   0  21.89     0  0.624  5.857   98.2  1.6686    4  437     21.2
139  0.54452   0  21.89     0  0.624  6.151   97.9  1.6687    4  437     21.2
140  0.29090   0  21.89     0  0.624  6.174   93.6  1.6119    4  437     21.2
141  1.62864   0  21.89     0  0.624  5.019  100.0  1.4394    4  437     21.2
142  3.32105   0  19.58     1  0.871  5.403  100.0  1.3216    5  403     14.7
143  4.09740   0  19.58     0  0.871  5.468  100.0  1.4118    5  403     14.7
144  2.77974   0  19.58     0  0.871  4.903   97.8  1.3459    5  403     14.7
145  2.37934   0  19.58     0  0.871  6.130  100.0  1.4191    5  403     14.7
146  2.15505   0  19.58     0  0.871  5.628  100.0  1.5166    5  403     14.7
147  2.36862   0  19.58     0  0.871  4.926   95.7  1.4608    5  403     14.7
148  2.33099   0  19.58     0  0.871  5.186   93.8  1.5296    5  403     14.7
149  2.73397   0  19.58     0  0.871  5.597   94.9  1.5257    5  403     14.7

          b  lstat  medv
100  394.76   9.42  27.5
101  395.58   7.67  26.5
102   70.80  10.63  18.6
103  394.47  13.44  19.3
104  392.69  12.33  20.1
105  394.05  16.47  19.5
106  395.67  18.66  19.5
107  387.69  14.09  20.4
108  395.24  12.27  19.8
109  391.23  15.55  19.4
110  393.49  13.00  21.7
111  395.59  10.16  22.8
112  394.95  16.21  18.8
113  396.90  17.09  18.7
114  388.74  10.45  18.5
115  344.91  15.76  18.3
116  393.30  12.04  21.2
117  394.51  10.30  19.2
118  338.63  15.37  20.4
119  391.50  13.61  19.3
120  389.15  14.37  22.0
121  377.67  14.27  20.3
122  378.09  17.93  20.5
123  370.31  25.41  17.3
124  379.38  17.58  18.8
125  385.02  14.81  21.4
126  359.29  27.26  15.7
127  392.11  17.19  16.2
128  396.90  15.39  18.0
129  396.90  18.34  14.3
130  395.04  12.60  19.2
131  396.90  12.26  19.6
132  385.76  11.12  23.0
133  388.69  15.03  18.4
134  262.76  17.31  15.6
135  394.67  16.96  18.1
136  378.25  16.90  17.4
137  394.08  14.59  17.1
138  392.04  21.32  13.3
139  396.90  18.46  17.8
140  388.08  24.16  14.0
141  396.90  34.41  14.4
142  396.90  26.82  13.4
143  396.90  26.42  15.6
144  396.90  29.29  11.8
145  172.91  27.80  13.8
146  169.27  16.65  15.6
147  391.71  29.53  14.6
148  356.99  28.32  17.8
149  351.85  21.45  15.4
        crim  zn  indus  chas    nox     rm    age     dis  rad  tax  ptratio  \
150  1.65660   0  19.58     0  0.871  6.122   97.3  1.6180    5  403     14.7
151  1.49632   0  19.58     0  0.871  5.404  100.0  1.5916    5  403     14.7
152  1.12658   0  19.58     1  0.871  5.012   88.0  1.6102    5  403     14.7
153  2.14918   0  19.58     0  0.871  5.709   98.5  1.6232    5  403     14.7
154  1.41385   0  19.58     1  0.871  6.129   96.0  1.7494    5  403     14.7
155  3.53501   0  19.58     1  0.871  6.152   82.6  1.7455    5  403     14.7
156  2.44668   0  19.58     0  0.871  5.272   94.0  1.7364    5  403     14.7
157  1.22358   0  19.58     0  0.605  6.943   97.4  1.8773    5  403     14.7
158  1.34284   0  19.58     0  0.605  6.066  100.0  1.7573    5  403     14.7
159  1.42502   0  19.58     0  0.871  6.510  100.0  1.7659    5  403     14.7
160  1.27346   0  19.58     1  0.605  6.250   92.6  1.7984    5  403     14.7
161  1.46336   0  19.58     0  0.605  7.489   90.8  1.9709    5  403     14.7
162  1.83377   0  19.58     1  0.605  7.802   98.2  2.0407    5  403     14.7
163  1.51902   0  19.58     1  0.605  8.375   93.9  2.1620    5  403     14.7
164  2.24236   0  19.58     0  0.605  5.854   91.8  2.4220    5  403     14.7
165  2.92400   0  19.58     0  0.605  6.101   93.0  2.2834    5  403     14.7
166  2.01019   0  19.58     0  0.605  7.929   96.2  2.0459    5  403     14.7
167  1.80028   0  19.58     0  0.605  5.877   79.2  2.4259    5  403     14.7
168  2.30040   0  19.58     0  0.605  6.319   96.1  2.1000    5  403     14.7
169  2.44953   0  19.58     0  0.605  6.402   95.2  2.2625    5  403     14.7
170  1.20742   0  19.58     0  0.605  5.875   94.6  2.4259    5  403     14.7
171  2.31390   0  19.58     0  0.605  5.880   97.3  2.3887    5  403     14.7
172  0.13914   0   4.05     0  0.510  5.572   88.5  2.5961    5  296     16.6
173  0.09178   0   4.05     0  0.510  6.416   84.1  2.6463    5  296     16.6
174  0.08447   0   4.05     0  0.510  5.859   68.7  2.7019    5  296     16.6
175  0.06664   0   4.05     0  0.510  6.546   33.1  3.1323    5  296     16.6
176  0.07022   0   4.05     0  0.510  6.020   47.2  3.5549    5  296     16.6
177  0.05425   0   4.05     0  0.510  6.315   73.4  3.3175    5  296     16.6
178  0.06642   0   4.05     0  0.510  6.860   74.4  2.9153    5  296     16.6
179  0.05780   0   2.46     0  0.488  6.980   58.4  2.8290    3  193     17.8
180  0.06588   0   2.46     0  0.488  7.765   83.3  2.7410    3  193     17.8
181  0.06888   0   2.46     0  0.488  6.144   62.2  2.5979    3  193     17.8
182  0.09103   0   2.46     0  0.488  7.155   92.2  2.7006    3  193     17.8
183  0.10008   0   2.46     0  0.488  6.563   95.6  2.8470    3  193     17.8
184  0.08308   0   2.46     0  0.488  5.604   89.8  2.9879    3  193     17.8
185  0.06047   0   2.46     0  0.488  6.153   68.8  3.2797    3  193     17.8
186  0.05602   0   2.46     0  0.488  7.831   53.6  3.1992    3  193     17.8
187  0.07875  45   3.44     0  0.437  6.782   41.1  3.7886    5  398     15.2
188  0.12579  45   3.44     0  0.437  6.556   29.1  4.5667    5  398     15.2
189  0.08370  45   3.44     0  0.437  7.185   38.9  4.5667    5  398     15.2
190  0.09068  45   3.44     0  0.437  6.951   21.5  6.4798    5  398     15.2
191  0.06911  45   3.44     0  0.437  6.739   30.8  6.4798    5  398     15.2
192  0.08664  45   3.44     0  0.437  7.178   26.3  6.4798    5  398     15.2
193  0.02187  60   2.93     0  0.401  6.800    9.9  6.2196    1  265     15.6
194  0.01439  60   2.93     0  0.401  6.604   18.8  6.2196    1  265     15.6
195  0.01381  80   0.46     0  0.422  7.875   32.0  5.6484    4  255     14.4
196  0.04011  80   1.52     0  0.404  7.287   34.1  7.3090    2  329     12.6
197  0.04666  80   1.52     0  0.404  7.107   36.6  7.3090    2  329     12.6
198  0.03768  80   1.52     0  0.404  7.274   38.3  7.3090    2  329     12.6
199  0.03150  95   1.47     0  0.403  6.975   15.3  7.6534    3  402     17.0

          b  lstat  medv
150  372.80  14.10  21.5
151  341.60  13.28  19.6
152  343.28  12.12  15.3
153  261.95  15.79  19.4
154  321.02  15.12  17.0
155   88.01  15.02  15.6

In [403]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0.0,0.431,6.487,13.0,7.3967,7.0,330.0,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0.0,0.400,6.871,47.4,7.8278,5.0,358.0,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0.0,0.429,6.490,44.4,8.7921,1.0,335.0,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0.0,0.713,6.749,92.6,2.3236,24.0,666.0,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33,16.8

34. How to change column values when importing csv to a dataframe?
Difficulty Level: L2

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [406]:
data = pd.read_csv('boston.csv', converters={'medv': lambda x: 'High' if float(x) > 25 else 'low'})
data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,low

35. How to create a dataframe with rows as strides from a given series?

In [412]:
L = pd.Series(range(10))

In [413]:

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[0, 1, 2, 3],
       [2, 3, 4, 5],
       [4, 5, 6, 7],
       [6, 7, 8, 9]])

36. How to import only specified columns from a csv file?
Difficulty Level: L1

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [414]:
data = pd.read_csv('boston.csv', usecols=['crim', 'medv'])

In [415]:
data

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
Difficulty Level: L2

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

In [416]:
data = pd.read_csv('cars.csv')
data.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [419]:
data.info()
data.to_numpy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB

array([['Acura', 'Integra', 'Small', ..., 2705.0, 'non-USA',
        'Acura Integra'],
       [nan, 'Legend', 'Midsize', ..., 3560.0, 'non-USA', 'Acura Legend'],
       ['Audi', '90', 'Compact', ..., 3375.0, 'non-USA', 'Audi 90'],
       ...,
       ['Volkswagen', 'Corrado', 'Sporty', ..., 2810.0, 'non-USA',
        'Volkswagen Corrado'],
       ['Volvo', '240', 'Compact', ..., 2985.0, 'non-USA', 'Volvo 240'],
       [nan, '850', 'Midsize', ..., 3245.0, 'non-USA', 'Volvo 850']],
      dtype=object)

In [420]:
38. How to extract the row and column number of a particular cell with given criterion?

Object `criterion` not found.

38. How to extract the row and column number of a particular cell with given criterion

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [43]:
import pandas as pd
import numpy as np
#df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df = pd.read_csv('cars.csv')

In [44]:
print(df.head())
# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']


df._get_value(row[0], 'Price') # only works with underscore

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                None      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

61.9

39. How to rename a specific columns in a dataframe?
Difficulty Level: L2

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

In [45]:

df=df.rename(columns = {'Type':'CarType'})
#df.columns.values[2] = 'CarType'
df

,Manufacturer,Model,CarType,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

40. How to check if a dataframe has any missing values?
Difficulty Level: L1

Check if df has any missing values.

In [46]:
df.isnull().values.any()

True

41. How to count the number of missing values in each column?
Difficulty Level: L2


Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [47]:
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

42. How to replace missing values of multiple numeric columns with the mean?
Difficulty Level: L2

Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [58]:
df = pd.read_csv('cars.csv')
print(df[['Min.Price','Max.Price']])
df_out = df[['Min.Price','Max.Price']] = df[['Min.Price','Max.Price']].apply(lambda x: x.fillna(x.mean))
print(df_out)

    Min.Price  Max.Price
0        12.9       18.8
1        29.2       38.7
2        25.9       32.3
3         NaN       44.6
4         NaN        NaN
..        ...        ...
88       16.6       22.7
89       17.6       22.4
90       22.9       23.7
91       21.8       23.5
92       24.8       28.5

[93 rows x 2 columns]
                                            Min.Price  \
0                                                12.9
1                                                29.2
2                                                25.9
3   <bound method NDFrame._add_numeric_operations....
4   <bound method NDFrame._add_numeric_operations....
..                                                ...
88                                               16.6
89                                               17.6
90                                               22.9
91                                               21.8
92                                               24.8

                                            Max.Price
0                                                18.8
1                                                38.7
2                                                32.3
3                                                44.6
4   <bound method NDFrame._add_numeric_operations....
..                                                ...
88                                               22.7
89                                               22.4
90                                               23.7
91                                               23.5
92                                               28.5

[93 rows x 2 columns]

43. How to use apply function on existing columns with global variables as additional arguments?
Difficulty Level: L3

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [52]:
df = pd.read_csv('cars.csv')
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.80,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.70,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.30,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.60,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,19.15,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.70,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.40,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.70,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.50,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,28.50,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

44. How to select a specific column from a dataframe as a dataframe instead of a series?
Difficulty Level: L2

Get the first column (a) in df as a dataframe (rather than as a Series).

In [62]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(type(df[['a']]))
print(type(df.loc[:, ['a']]))
print(type(df.iloc[:, [0]]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

45. How to change the order of columns of a dataframe?
Difficulty Level: L3

Actually 3 questions.

In df, interchange columns 'a' and 'c'.
Create a generic function to interchange two columns, without hardcoding column names.
Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [65]:
df = pd.read_csv('cars.csv')

In [67]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

47. How to format or suppress scientific notations in a pandas dataframe?
Difficulty Level: L2

Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

In [73]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df)
df.round(4)

     random
0  0.006601
1  0.261956
2  0.000001
3  0.144771

   random
0  0.0066
1  0.2620
2  0.0000
3  0.1448

48. How to format all the values in a dataframe as percentages?
Difficulty Level: L2

Format the values in column 'random' of df as percentages.

In [74]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df

     random
0  0.009064
1  0.309387
2  0.438319
3  0.779626

In [75]:
out = df.style.format({'random': '{0:.2%}'.format,})
out

49. How to filter every nth row in a dataframe?
Difficulty Level: L1

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [78]:
df = pd.read_csv('cars.csv')
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

50. How to create a primary key index by combining relevant columns?
Difficulty Level: L2

In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

In [80]:
# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)
df

True

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
Acura_Integra_Small,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
missing_Legend_Midsize,missing,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
Audi_90_Compact,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
Audi_100_Midsize,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
BMW_535i_Midsize,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen_Eurovan_Van,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
Volkswagen_Passat_Compact,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
Volkswagen_Corrado_Sporty,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
Volvo_240_Compact,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
missing_850_Midsize,missing,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

51. How to get the row number of the nth largest value in a column?
Difficulty Level: L2

Find the row position of the 5th largest value of column 'a' in df.

In [87]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [88]:
print(df)
# Solution
n = 5
df['a'].argsort()[::-1][n]

    a   b   c
0   3   4  23
1   7   9  11
2   7   5  12
3  24  24  25
4   3   5   1
5  20  17   5
6  11  23   1
7   3  18  25
8   9   6  19
9  24   1  13

8

52. How to find the position of the nth largest value greater than a given value?
Difficulty Level: L2

In ser, find the position of the 2nd largest value greater than the mean.

In [89]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [101]:
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
# np.argwhere(ser > ser.mean())[1] without function

## np.argwhere(ser.to_numpy()) > np.mean(ser.to_numpy())[1]
np.mean(ser.to_numpy())

ser:  [48, 69, 42, 20, 63, 79, 58, 19, 13, 60, 65, 78, 36, 55, 87] mean:  53

52.8