In [1]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
L = [0, 1, 0, 1, 2, 0]

df.groupby(L).sum()

   data1  data2
0      7     17
1      4      3
2      4      7

In [7]:
df.groupby(L).groups

{0: [0, 2, 5], 1: [1, 3], 2: [4]}