# Python Built-In Data Structures

## Lists

#### Indexing, slicing, appending

#### Iterating through lists

In [9]:
students = ["tobias hegewald","srinivasan narayanan", "silvia delgado abendano" , 
            "shushanik hakobyan hakobyan" , "rene stuedemann", 
            "raphael weidemann" , "peter ludas" , 
            "niranjan shrikant kondo", "nelson lage" , 
            "mercedes santana rodriguez", "marie rodov" , 
            "luca hein","inga eichhorn" ,
            "hong kiu cheng" , "henrike sahnwaldt","enrique hernani ros","emma baker reynolds",
            "edu jockers","dwie steffyanti","denny meyer","carlos martinez","carla colomer",
            "bianca macedo richa","rand abu ajamia"]

In [3]:
students

['tobias hegewald',
 'srinivasan narayanan',
 'silvia delgado abendano',
 'shushanik hakobyan hakobyan',
 'rene stuedemann',
 'raphael weidemann',
 'peter ludas',
 'niranjan shrikant kondo',
 'nelson lage',
 'mercedes santana rodriguez',
 'marie rodov',
 'luca hein',
 'inga eichhorn',
 'hong kiu cheng',
 'henrike sahnwaldt',
 'enrique hernani ros',
 'emma baker reynolds',
 'edu jockers',
 'dwie steffyanti',
 'denny meyer',
 'carlos martinez',
 'carla colomer',
 'bianca macedo richa',
 'rand abu ajamia']

#### Print students with names starting with e

In [13]:
for i in students:
    if i.startswith('e'):
        print(i)

enrique hernani ros
emma baker reynolds
edu jockers

#### Create two lists: "student_names" and "student_surnames"

In [21]:
student_names = []
student_surnames = []

for i in students:
    
    # as we are quite international, having two surnames or more are more elegant to habe 
    # both surnames in the same slot
    
    name = i.split(" ", 1)
    student_names.append(name[0])
    student_surnames.append(name[1])


print(student_surnames)

['hegewald', 'narayanan', 'delgado abendano', 'hakobyan hakobyan', 'stuedemann', 'weidemann', 'ludas', 'shrikant kondo', 'lage', 'santana rodriguez', 'rodov', 'hein', 'eichhorn', 'kiu cheng', 'sahnwaldt', 'hernani ros', 'baker reynolds', 'jockers', 'steffyanti', 'meyer', 'martinez', 'colomer', 'macedo richa', 'abu ajamia']

#### Print the surname for "bianca".

In [20]:
print(student_surnames[student_names.index('bianca')])

macedo richa

<b>user input

## Dictionaries

In [26]:
ages = {
    "Tom": 18,
    "Paul": 19,
    "Lisa":33
}

In [28]:
ages["Tom"]

18

#### Accessing keys & values

#### Iterate through dictionary

#### Nested dictionaries

Create a dictionary of teachers. For it teacher, it stores their age, role and the city where they live.

#### Print only name of teachers who live in Berlin

## Tuples

## Sets

#### Take a random sample (with replacement) of 100 numbers from 1 to 100:

What is the expected proportion of unique elements when taking samples with replacement of the same size of the population?

Too soon for statistics: take a hacker approach - repeat the operation a few thousand times and report the average.

In [4]:
import statistics

### Set items are immutable

In [30]:
set1 = {1,2,3}

set2 = {1,2,tuple([1,2])} 
# Set elements should be immutable.

### set union

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

In [7]:
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}