In [1]:
x = lambda x: x+3

In [2]:
x(3)

6

In [5]:
import numpy as np

In [6]:
l = [22,323,434,2,3]

In [22]:
res = map(lambda x: x + 3 if x < 8 else 32, l)

In [23]:
list(res)

[32, 32, 32, 5, 6]

In [25]:
import pandas as pd
import numpy as np

In [29]:
two = np.random.randint(10, size=(3,4) )

In [32]:
df = pd.DataFrame(two)

In [33]:
df

   0  1  2  3
0  3  9  7  8
1  4  3  7  4
2  0  5  5  5

In [41]:
df.iloc[0,1] = 'Hello'

In [42]:
df

   0      1  2  3
0  3  Hello  7  8
1  4      3  7  4
2  0      5  5  5

In [49]:
df = pd.DataFrame(np.random.randint(10, size=(3,2)), columns=["x","y"], index=["A","B","C"])

In [50]:
df

   x  y
A  6  8
B  5  7
C  7  3

In [55]:
ds = pd.read_csv("health4all.csv")

In [56]:
ds

,Unnamed: 0,id,state,gender,dob,avggift,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_fam_income,avg_house_income,domain,profit,target_d
0,0,44060,FL,M,1901,28.000000,NaN,392,520.0,7,21975,6,16,430.0,466,C2,72.000000,100.0
1,1,96093,IL,M,0,5.666667,537.0,365,473.0,0,19387,1,89,415.0,410,T2,1.333333,7.0
2,2,43333,FL,F,2501,4.111111,725.0,301,436.0,3,18837,11,17,340.0,361,C2,0.888889,5.0
3,3,21885,NC,M,2208,27.277778,NaN,401,413.0,7,14014,1,74,407.0,399,T2,10.722222,38.0
4,4,190108,FL,F,0,6.000000,995.0,252,348.0,0,17991,5,6,280.0,316,C2,-1.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,30104,GA,M,5201,8.833333,364.0,246,325.0,0,9720,0,89,307.0,287,R2,6.166667,15.0
996,996,154614,CA,F,0,15.000000,1709.0,511,537.0,26,15138,9,68,518.0,527,T1,5.000000,20.0
997,997,57151,KY,F,3601,15.900000,875.0,311,326.0,0,7746,3,29,326.0,326,R1,10.100000,26.0
998,998,71425,MI,M,4401,6.000000,713.0,300,364.0,0,16833,2,88,313.0,323,T2,1.000000,7.0
999,1001,41384,FL,F,5107,9.428571,556.0,318,352.0,0,11779,16,22,358.0,320,S3,2.571429,12.0

In [58]:
ds.iloc[3,:]

Unnamed: 0                  3
id                      21885
state                      NC
gender                      M
dob                      2208
avggift             27.277778
hv1                       NaN
med_house_income          401
avg_fam_income          413.0
hvp1                        7
ic5                     14014
pobc1                       1
pobc2                      74
med_fam_income          407.0
avg_house_income          399
domain                     T2
profit              10.722222
target_d                 38.0
Name: 3, dtype: object

In [1]:
ls

Command_Line/        Jupyter_Notebook/    Programming_Tips/
Conda/               Numpy/               Python_Basics/
Data_Analysis_Intro/ Pandas/              Untitled.ipynb
Git_GitHub/          Prework-Review/      health4all.csv

In [2]:
ls ../..

README.md  prework/   week_1/

In [3]:
ls

Command_Line/        Jupyter_Notebook/    Programming_Tips/
Conda/               Numpy/               Python_Basics/
Data_Analysis_Intro/ Pandas/              Untitled.ipynb
Git_GitHub/          Prework-Review/      health4all.csv